html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div {
  box-sizing: border-box; }

/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

@font-face {
  font-family: system85-regular;
  src: url(../fonts/system85-regular.eot);
  src: url(../fonts/system85-regular.eot) format("embedded-opentype"), url(../fonts/system85-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  background: #F5F5F5;
  color: #000000;
  line-height: 1.2;
  font-size: 20px; }

body.photos {
  background: #000000;
  color: #FFFFFF; }

.outer-wrap {
  background-color: white; }

.photos .outer-wrap {
  background-color: black; }

.wrap {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 0 100px; }

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 360px 24px 0;
  max-width: 760px;
  margin: 0 auto; }

.photo {
  display: none;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  background-size: cover;
  background-image: url(../img/am.png); }

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 200px 24px 100px;
  opacity: 0.4; }

h2.top {
  padding: 200px 24px 200px; }

.work {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.work h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 2px 0; }

.work .title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 2px 0;
  opacity: 0.4; }

.work .description {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 0 24px;
  max-width: 760px; }

.work .description p {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 2px 0; }

.work .screens {
  display: flex;
  flex-wrap: wrap;
  width: 1112px;
  justify-content: space-between;
  padding: 32px 0 0 0; }

.ui-pieces {
  width: 100%;
  overflow-x: scroll; }

.ui-pieces-inner {
  width: 1151px;
  height: 783px;
  background-image: url(../img/rambler@2x.png);
  background-size: cover;
  background-position: center;
  margin: 32px 0 0 0; }

.screen {
  width: 260px;
  height: 562px;
  background: #FFFFFF;
  border-radius: 4px;
  /*box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);*/
  margin: 0 0 24px 0; }

.screen iframe {
  border-radius: 4px; }

.screen.screen--image {
  background-size: cover;
  background-position: center center; }

.screen.screen--image-devices {
  background-image: url(../img/devices@2x.png); }

.screen.screen--image-transaction {
  background-image: url(../img/transaction@2x.png); }

.screen.screen--image-chat {
  background-image: url(../img/chat@2x.png); }

.screen.screen--image-chat3 {
  background-image: url(../img/chat3@2x.png); }

.screen.screen--image-profile {
  background-image: url(../img/profile@2x.png); }

.screen.screen--image-disya {
  background-image: url(../img/disya@2x.png); }

.contact {
  background-color: #000000;
  text-align: center;
  padding: 0 0;
  border-radius: 16px;
  position: fixed;
  bottom: 32px;
  left: 32px;
  width: 160px;
  height: 48px;
  margin: 0 0 0 0;
  color: #ffffff;
  z-index: 999;
  cursor: pointer;
  box-shadow: 0, 2px, 4px, rgba(43, 59, 71, 0.12);
  transition: all 0.2s ease;
  overflow: hidden; }

.contact .label {
  position: absolute;
  left: 0;
  top: 12px;
  transition: all 0.2s ease;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  width: 160px;
  text-align: center; }

.contact .label-active {
  position: absolute;
  left: 0;
  top: 12px;
  transition: all 0.2s ease;
  transform: translate3d(0, 10px, 0);
  opacity: 0;
  width: 160px;
  text-align: center; }

.contact i {
  font-variant: normal;
  opacity: .4;
  padding: 0 4px 0 0; }

.contact.popup--shown .label {
  opacity: 0;
  transform: translate3d(0, 10px, 0); }

.contact.popup--shown .label-active {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 998;
  box-sizing: border-box;
  overflow: auto;
  opacity: 0;
  transform: translate3d(0, 0, 0) scale(1);
  visibility: hidden;
  transition: visibility .5s linear 0s, opacity .2s ease; }

.overlay.overlay--shown {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1); }

.popup {
  box-sizing: border-box;
  width: 350px;
  height: 252px;
  margin: 0;
  background-color: black;
  border-radius: 16px;
  padding: 0px;
  position: absolute;
  bottom: 111px;
  left: 32px;
  opacity: 0;
  transform: translate3d(0, 15px, 0) scale(0.96);
  visibility: hidden;
  transition-delay: .2s;
  transition: visibility 0.5s linear 0s, opacity 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.135, 1.425); }

.popup.popup--shown {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1); }

.popup__button {
  position: absolute;
  top: -56px;
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: .7;
  cursor: pointer;
  transition: opacity .2s ease; }

.popup__button:hover {
  opacity: 1; }

.popup__button::after {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: 13px;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-repeat: no-repeat; }

.popup__button.popup__button--close {
  right: 0; }

.popup__button.popup__button--close::after {
  background-image: url(../img/icon-close.svg); }

.popup ul {
  padding: 16px 32px; }

.popup li {
  color: #ffffff;
  padding: 10px 0; }

.popup span {
  opacity: .4;
  padding: 0 24px 0 0; }

.popup a {
  color: #FFFFFF;
  text-decoration: none; }

.popup a:hover {
  color: #FFFFFF;
  text-decoration: none;
  opacity: .8; }

a {
  color: #000000;
  text-decoration: underline; }

h3 a {
  text-decoration: none; }

a:hover {
  opacity: .4;
  text-decoration: underline; }

h3 a:hover {
  text-decoration: none; }

.back {
  position: fixed;
  left: 32px;
  top: 32px; }

.back a {
  color: #ffffff;
  text-decoration: none; }

.gallery {
  margin: 200px 0; }

.photo-wrap {
  max-width: 1180px;
  margin: 0 0 400px 0; }

.photo-wrap--vertical {
  max-width: 760px;
  margin: 0 auto; }

.photo-wrap img {
  max-width: 100%;
  max-height: 100%; }

.top a {
  text-decoration: none; }

@media (max-width: 1181px) {
  .wrap {
    max-width: 100%;
    padding: 0; }
  h1 {
    padding: 150px 24px 0; }
  h2 {
    padding: 200px 24px 50px; }
  h2.top {
    padding: 200px 24px 200px; }
  .contact {
    left: 50%;
    width: 160px;
    height: 48px;
    margin: 0 0 0 -80px; }
  .popup {
    left: 50%;
    margin: 0 0 0 -175px; }
  .work .screens {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: left;
    align-items: flex-start;
    padding: 32px 0; }
  .ui-pieces {
    overflow: scroll; }
  .work .screen {
    margin: 0 8px 0 8px;
    flex-shrink: 0;
    flex-grow: 0; }
  .work .screen:first-child {
    margin: 0 8px 0 16px; }
  .work .description {
    max-width: 100%;
    padding: 0 24px; }
  .work .title {
    padding: 2px 24px; } }
